/*Custom style*/
html,body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ) no-repeat;
    color:#fff;
    margin:0;
    padding: 0;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
}
.container{    
    min-height: 100%;
}
.custom-navbar{
    height: 130px;
    width: 90%;    
    background-color: #000 !important;
}
.navbar-inverse{
    background-color: #000 !important;
    background-image: none !important;
}
.custom-links{
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 50px;
    font-weight: 400;
}
.navbar-nav>.active>a{   
    color:#d9c405 !important;
    background-color: #000 !important;
    background-image: none !important;
}
.nav-bg{
    background-color: #000;
}
.custom-links>li>a:hover{
    color: #d9c405 !important;
}
.language{
    position: absolute;
    right: 90px;
    width: 22px;
    margin: 10px 0px 0 0;
}
.custom-nav-right{
    margin-right: 0px;
}
.custom-nav-right>li>a{
    padding: 10px 8px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    clear:both;
}
.footer p{
    padding-top: 35px;
}
.footer p span{
    color: #d9c405;
}
.line{
    font-size: 31px;
    font-weight: 100;
    padding: 0px;   
    margin: 2px -19px 0px -14px;
}
.cus-jumbotron{
    border-radius: 0 !important;    
    background-color: rgba(25, 25, 25, 0.76) !important;
}
.vol-header{
    text-align: center;
    text-transform: uppercase;
    color: #4A861D !important;
    font-weight: bold;
}
.vol-jumbotron{
    background-color: #191919;
    border-radius: 0 !important;
}
.vol-content{
    text-align: center;
}
.clear{
    clear: both;
    padding: 0;
    margin: 0;
}
.vol-cen-header{
    text-align: center;
    font-size: 45px !important;
    text-transform: uppercase;
    line-height: 150px;
    font-weight: bold;
}
.cus-form-control{
    background: transparent;
    box-shadow: none !important;
    border-bottom: 2px solid #888;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
    color: #fff !important;
}
.vol-content-form{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px !important;
}
.form-label{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.form-country{
    color:#000;
}
.form-top{
    margin-top: 20px;
}
input[type='radio'] { transform: scale(2); }
input[type='checkbox']{
    transform:scale(2);
}
input[type='checkbox']:after{    
    background-color: #191919;
}
.radio-inline>span{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-left: 12px;
}
.checkbox-inline>span{
    font-size: 16px;
    margin-left: 15px;
}
.btn-yellow{
    background-color: #FDF33F;
    color: #888;
    padding: 10px 29px 10px 27px;
    font-size: 25px;
}
.video-content{
    text-align: center;
    width: 60%;
    margin: auto;
}
.contact-address{
    font-size: 16px !important;
    font-weight: bold;
    line-height: 36px !important;
}
.angular-google-map-container {
        height: 400px;
}
.error{
    color: red;
    font-weight: bold;
}
.map{
    height:300px;
}
.card{
    background-color: rgba(25, 25, 25, 0.76);
    padding: 15px;
    text-align: center;
    box-shadow: 1px 0px 5px 0px #403C3C;
    margin: 20px 0px 20px 0px;    
}
.cus-badge{
    position: absolute;
    top: 4px;
    left: 37px;
    background-color: red;
}
.about-content{
    font-size: 18px !important;
    text-align: justify;    
    font-style: italic;
}
.cus-navbar{
    background-color: rgba(25, 25, 25, 0.90);
}
.cus-home{
    margin-top: 400px;
}

/*Loader CSS*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #FDF33F;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
/*End Loader*/

@media screen and (max-width: 768px) {
    .custom-nav-right>li>a, .custom-nav-right>li{
        display: none !important;
    }
    .language{
        margin-right: 15px;
    }
    .yt-video{
        width:100%;
        height: 100%;
    }
}