<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid custom-navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img  src="img/logo.png" class="img-responsive" /></a>
      <a class="language" href="#"><img src="img/language.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-bg" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav custom-links">
        <li ui-sref-active="active"><a ui-sref="home" href="#">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="md6" href="#">MD#6</a></li>
        <li ui-sref-active="active"><a ui-sref="about" href="#">About Manuel</a></li>
        <li ui-sref-active="active"><a ui-sref="shop" href="#">Shop</a></li>
        <li ui-sref-active="active"><a ui-sref="contact" href="#">Contact</a></li>
        <li ui-sref-active="active"><a ui-sref="volounteer" href="#">Volounteer</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right custom-links custom-nav-right">        
        <li><a href="#"><img src="img/facebook.png" class="img-responsive"/></a></li>      
        <li><a href="#"><img src="img/youtube.png" class="img-responsive"/></a></li> 
        <li class="line">&nbsp; | &nbsp;</li>
        <li><a href="#"><img src="img/shooping.png" class="img-responsive"/></a></li>  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>